{% extends "admin/base.html" %}
{% block title %}Administration{% endblock %}
{% block content %}
<main class="page"> <!-- Main content of document, defines this as the dynamic body rather than the static base -->
    <section class="clean-block dark">
        <div class="container"> <!-- Makes the site not touch page edges -->
            <div class="block-heading">
                <h2 class="text-info">Admin Area</h2>
                <h5 class="text-body">
                    Welcome to the admin area. Here you can do whatever you want :) Just click the hyper links in the
                    header to control the area you desire.
                </h5>
            </div>
        </div>
    </section>
</main>
{% endblock %}