{% extends "admin/base.html" %}
{% block title %}Administration{% endblock %}
{% block content %}
<main class="page">
    <section class="clean-block clean-form dark"><br>
        <div class="text">
            <h2><strong><em>Gallery</em></strong></h2>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>URL</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Home Page (999)</td>
                            <td>{{home_img_url}}</td>
                        </tr>
                        <tr>
                            <td>Gallery Page (998)</td>
                            <td>{{gallery_img_url}}</td>
                        </tr>
                    {% for item in values %}
                        <tr>
                            <td>{{item._id}}</td>
                            <td>{{item.url}}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="block-heading">
            <h5 class="text-body">
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        {% for msg in messages %}
                            {{msg}}
                        {% endfor %}
                    {% endif %}
                {% endwith %}
            </h5>
        </div>
        <div class="form-group">
            <form method="post">
                <div class="form-group">
                    <label for="img-id">ID (Ignore for new Images)</label>
                    <input class="form-control item" type="number" id="img-id" name="i-id">
                </div>
                <div class="form-group">
                    <label for="img-url">URL</label>
                    <input class="form-control item" type="url" id="img-url" name="i-url">
                </div>
                <div class="btn-group">
                    <button class="btn btn-primary" type="submit" name="submit-button" value="add">Add Image</button>
                    <button class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-expanded="false"></button>
                        <div class="dropdown-menu">
                            <button class="dropdown-item" type="submit" name="submit-button" value="edit">Edit Image</button>
                            <button class="dropdown-item" type="submit" name="submit-button" value="delete">Delete Image</button>
                        </div>
                </div>
            </form>
        </div>
    </section>
</main>
{% endblock %}