{% extends "base.html" %}
{% block title %}Events{% endblock %}
{% block content %}
<main class="page blog-post-list">
    <section class="clean-block clean-blog-list dark">
        <div class="container">
            <div class="block-heading">
                <h2 class="text-info">Events</h2>
            </div>
            {% for item in values %}
            <div class="block-content">
                <div class="clean-blog-post">
                    <div class="row">
                        <div class="col-lg-5"><img class="rounded img-fluid" src="{{item.img_url}}"></div>
                        <div class="col-lg-7">
                            <h3>{{item.title}}</h3>
                            <div class="info"><span class="text-muted">{{item.date}} by&nbsp;<a href="#">{{item.creator}}</a></span></div>
                            <p>{{item.description}}</p><button class="btn btn-outline-primary btn-sm" type="button">Sign Up<Up></Up></button>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>
</main>
{% endblock %}