{% extends "base.html" %}
{% block title %}Events{% endblock %}
{% block content %}
<main class="page">
    <section class="clean-block clean-blog-list dark">
        <div class="container">
            <div class="block-heading">
                <h2 class="text-info">Events</h2>
                <h5 class="text-body">
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        {% for msg in messages %}
                            {{msg}}
                        {% endfor %}
                    {% endif %}
                {% endwith %}
                </h5>
            </div>
            {% for item in values %}
            <div class="block-content">
                <div class="clean-blog-post">
                    <div class="row">
                        <div class="col-lg-5"><img class="rounded img-fluid" src="{{item.img_url}}"></div>
                        <div class="col-lg-7">
                            <h3>{{item.title}}</h3>
                            <div class="info"><span class="text-muted">{{item.date}} by&nbsp;<a>{{item.creator}}</a></span></div>
                            <p>{{item.description}}</p>
                            <form method="post">
                                <button class="btn btn-outline-primary btn-sm" type="submit" name="submit-button" value="{{item._id}}">Sign Up</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>
</main>
{% endblock %}