{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block content %}
<main class="page login-page">
    <section class="clean-block clean-form dark">
        <div class="container">
            <div class="block-heading">
                <h2 class="text-info">Log In</h2>
                <h5 class="text-body">
                    {% with messages = get_flashed_messages() %}
                        {% if messages %}
                            {% for msg in messages %}
                                {{msg}}
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                </h5>
            </div>
            <form method="post">
                <div class="form-group">
                    <label for="em">Email</label>
                    <input class="form-control item" type="email" id="em" name="u-mail">
                </div>
                <div class="form-group">
                    <label for="pw">Password</label>
                    <input class="form-control" type="password" id="pw" name="u-pass">
                </div>
                <div class="form-group">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="cb" name="u-save">
                        <label class="form-check-label" for="cb">Remember me</label>
                    </div>
                </div>
                <button class="btn btn-primary btn-block" type="submit">Log In</button>
            </form>
        </div>
    </section>
</main>
{% endblock %}