{% extends "base.html" %}
{% block title %}Register{% endblock %}
{% block content %}
<main class="page registration-page">
    <section class="clean-block clean-form dark">
        <div class="container">
            <div class="block-heading">
                <h2 class="text-info">Registration</h2>
                <h4 class="text-body">
                    {% with messages = get_flashed_messages() %}
                        {% if messages %}
                            {% for msg in messages %}
                                {{msg}}
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                </h4>
            </div>
            <form method="post">
                <div class="form-group">
                    <label for="nm">Name</label >
                    <input class="form-control item" type="text" id="nm" name="u-name">
                </div>
                <div class="form-group">
                    <label for="pw">Password</label>
                    <input class="form-control item" type="password" id="pw" name="u-pass">
                </div>
                <div class="form-group">
                    <label for="em">Email</label>
                    <input class="form-control item" type="email" id="em" name="u-mail">
                </div>
                <button class="btn btn-primary btn-block" type="submit" value="submit">Sign Up</button>
            </form>
        </div>
    </section>
</main>
{% endblock %}